*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
}
::-webkit-scrollbar{
    width:0.5vh;
}
::-webkit-scrollbar-thumb{
   background-color:rgb(14, 112, 177) ;
}
body{
   background-color: black;
   overflow-x: hidden;
}
a{
    color: inherit;
    text-decoration: none;
}
b{
    font-weight:900;
    color:rgb(14, 112, 177) ;
}

#navbar{
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.867);
    border-bottom: 1px solid whitesmoke;
    z-index: 10;
    top:0
}
#logo{
    height: 100px;
    width: auto;
    position: absolute;
    top:-15px;
    left: 10px;
}
#navbtn{
    display: flex;
   width: 100%;
   height: 100%;
   text-align: center;
   align-items:center ;
   justify-content: center;
}
.btn{
padding:30px;
font-weight: 800;
font-size: 20px;
transition: all 0.5s;
}
.btn:hover{
color: rgb(5, 106, 173);
text-decoration: overline;
}

#mobile-navbar{
    position: absolute;
    right: 20px;
    height: 50px;
    width: 50px;
    z-index: 14;
    cursor: pointer;
    display: none;
}
#mobilebar{
    background-color: #000000;
    height: fit-content;
    color:rgb(255, 255, 255) ;
    position: absolute;
    top: 50px;
    border-top: 1px solid snow;
    border-bottom: 1px solid snow;
    right: 10px;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    display: none;

}
.mbtn{
    padding:15px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s; 
}
.mbtn:hover{
    color: rgb(5, 106, 173);
    text-decoration: overline;
    }
#ONEmain{
    height: 120vh;
    width: 100%;
    margin: 2%;
    margin-top: 10vh;
    position: relative;
    padding: 1%;
}
#ONEpage{
    position: absolute;
    right: 50px;
    height: 500px;
    width: 650px;
    top: 20vh;
    border-radius: 40px;
}
.heading{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
li{
    width: 50%;
}
#lastline{
    width: 95%;
    font-size: 20px;
    text-align: center;
}

#footer{
    background-color:rgba(255, 255, 255, 0.175);
    border-top: 2px solid rgb(5, 106, 173);
    height: 30vh;
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
#part1{
    width: 30%;
   border-right:2.5px solid rgb(5, 106, 173);
   text-align: center;

}
span{
    margin-left:15%;
}
#footlogo{
position: absolute;
height: 150px;
width: 150px;
top: -30px;
left: 10px;
}
#soclogo{
    margin: 1%;
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#soclogo img{
height: 40px;
width: 40px;
margin:5%;
}
#part2{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    justify-content: center;
    margin-bottom: 5%;
}
#part2 a{
    text-decoration: underline;
    color:  rgb(5, 106, 173);
}
#part1 h4{
    font-size: 20px;
}
#part2 h4{
    font-size: 20px;
}

@media only screen and (max-width:1024px){
    #ONEpage{
        height: 450px;
        width: 500px;
        right: 10px;
    }
    
#ONEmain{
    height: 175vh;
}
    li{
        width: 47%;
    }
}

@media only screen and (max-width:768px){
    #ONEpage{
        height: 300px;
        width: 350px;
        right: 10px;
        top: 30vh;
    }
    
#ONEmain{
    height: 130vh;
}
    li{
        width: 50%;
    }
}
@media only screen and (max-width:740px) {
    .btn{
        display: none;
    }
    #mobile-navbar{
        display: block;
        top: 2px;
    }
    #mobilebar{
        width: 50vw;
    }
    #navbar{
        height: 15vh;
    }
    #logo{
        height: 70px;
    }
    #ONEmain{
        height: 325vh;
    }
    #ONEpage{
        height: 200px;
        width: 250px;
    }
    
    li{
        width: 60%;
    }
    #footer{
        height: 60vh;
    }
    #part1{
        width: 50%;
    }
    #footlogo{
        height: 100px;
        width: 100px;
        top: 10px;
    }
}
@media only screen and (max-width:668px){
    #ONEmain{
     height: 400vh;
    }
}
@media only screen and (max-width:420px){
    #navbar{
        height:8vh;
    }
    #mobile-navbar{
        top: 10px;
    }
    #ONEpage{
        display:none;
    }
    #ONEmain{
        height:225vh;
        padding: 10%;
    }
    #ONEmain li{
        width: 95%;
    }
    #lastline{
        width: 125%;
        margin-left: -50px;
    }
}
@media only screen and (max-width:378px){
    #ONEmain{
        height: 275vh;
    }
    #footlogo{
        height: 100px;
        width: 100px;
        top: -10px;
    }
}